.result-item {
    display: block;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 1%;
    margin-top: 2%;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 85vmax;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
  }

  .result-item h3 {
    font-size: 120%;
    margin-bottom: 0.2%;
  }

  .result-params {
    display: flex;
    flex-direction: row;
  }
  
  .result-actions button {
    margin-top: 1%;
    margin-right: 0.5%;
    padding: 0.3%;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 80%;
    background-color: #0056ff;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
  }
  
  .result-actions button:hover {
    background-color: #003bb5;
  }
  
  p{
    font-size: 80%;
    color: #686767;
  }

  .result-author{
    color: #000000;
  }