.results-error {
  display: flex;
  align-items: center;
  justify-content: center;
}

.results-container {
    display: flex;
    flex-direction: column;
    width: 95vw;
    margin-bottom: 20px;
  }
  
  .results-list{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: space-between;
    width: 95vw;
  }

  .results-items{
    min-width: none;
    width: 100%;
  }

  .sort-container {
    position: fixed;
    right: 0;
    margin-right: 3vw;
    width: 20vw;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }

  .pagination button:hover {
    background-color: #6bb5ff;
  }
  
  .pagination button.active {
    background-color: #0056b3;
  }
  
  .pagination button:disabled {
    background-color: #ccc; 
    cursor: not-allowed;
  }
