.search-container {
  position: relative;
  width: 100vw;
}

.filter-container {
    position: sticky;
    top: 70px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .filter-title {
    background-color: #f3f0ff;
    border-radius: 8px;
    padding-bottom: 12px;
  }
  
  div{
    color : rgb(0, 0, 0);
  }
  
  .search-icon{
    width: 95vw;
    margin: 20px;
  }

  .search-bar {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
  }

  .search-input {
    border: 1px solid #bebebe;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 8px 0 0 8px;
    width: 100%;
    height: 45px;
  }

  .search-btn {
    background-color: #2c71fa;
    color: white;
    cursor: pointer;
    width: 70px;
    height: 45px;
    padding : 8px;
    border-radius: 0 8px 8px 0;
    border: 1px solid #2c71fa;
  }

  .search-btn:hover {
    color: #003bb5;
  }

  .sugerencias :hover{
    background-color: #e0e0e0;
  }

  .sugerencia-item{
    padding: 5px 0;
    border-radius: 5px;
  }

  .sugerencia-item.selected {
    background-color: #e0e0e0; /* O el color de tu preferencia */
  }

  .sugerencia-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3px;
  }

  .sugerencia-icon p{
    color: black;
    font-size: 90%;
    margin-left: 10px;
  }

  hr{
    border: 1px solid #adadad;
    margin: 8px 10px;
  }

  .colapse-container{
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
  }

  .colapse-btn{
    background-color: #a1a1a1;
    color: rgb(0, 0, 0);
    max-width: 100px;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 0 0 10px 10px;
    font-size: 75%;
  }

  .colapse-btn:hover {
    background-color: #8b8b8b;
  }
  
  .divider {
    max-height: 70vh;
    width: 95vw;
    overflow-y: auto; 
  }
  