.sort-menu {
  top: 0;
  min-width: 220px;
  max-width: 300px;
  min-height: 300px;
  background-color: #d1d1d1;
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
}

strong{
  font-size: 18px;
}

.sort-options {
  list-style: none;
  margin-top: 12px;
}

.sort-options li {
  padding: 8px 5px;
  text-align: left;
  color: #333;
  cursor: pointer;
  border-top: 1px solid rgb(107, 107, 107);
  width: 115%;
  margin-left: -14%;
}

.sort-options li:hover {
  background-color: #e6e5e5;
}

.sort-options li.selected {
  background-color: #c0c0c0;
}
