.sort-menu {
  width: 150px;
  background-color: #d1d1d1;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
  margin-top: 1.5%;
}

.arrow-button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  display: block;
  margin: 0 auto 10px auto;
}

.sort-options {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sort-options li {
  padding: 5% 0;
  text-align: left;
  color: #333;
  cursor: pointer;
  list-style: none;
  border-bottom: 1px solid rgb(107, 107, 107);
}

.sort-options li:hover {
  background-color: #c0c0c0;
}

