.app {
  display: flex;
  flex-direction: column;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: #eeeeee;
  border: 1px solid #ddd;
  border-radius: 8px;
}
