.author-info{
  background-color: rgba(249, 252, 255, 0.733);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-top: 15px;
  padding: 20px;
  border: 1px solid rgba(164, 176, 192, 0.295);
  width: 80%;
}

.author-avatar-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.author-avatar{
  box-sizing: border-box;
  border-radius: 50%;
  width:40%; 
  margin-right: 10%;
}

.author-info-container{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-bottom: 10%;
}

.buttons-container{
  display: flex;
  justify-content: right;
  width: 100%;
  margin-bottom: 10px;
}

.icons-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: x-large;
  margin-bottom: 20px;
  width: 60%;
}

.config-icon, .edit-icon{
  display: flex;
  flex-direction: row;
}


.config-icon:hover{
  color: #ff0000;
  cursor: pointer;
}

.config-icon:hover p{
  color: #ff0303;
  cursor: pointer;
}

.edit-icon:hover{
  color: #269e1c;
  cursor: pointer;
}

.edit-icon:hover p{
  color: #269e1c;
  cursor: pointer;
}

.author-name-container{
  display: flex;
  justify-content: center;    
  flex-direction: column;
  align-items: left;
  margin-top: 5%;
}

.author-name{
  font-size: xx-large;
  font-weight: bold;
}

.names{
  font-size: 40px;
  font-weight: bold;
}

.username{
  font-size: small;
  color:gray;
  margin-top: -4px;
}

#span-doctic{
  color:#0089af;
  font-weight: bold;
}

.date{
  margin-top: 10px;
}

