.result-item {
  display: block;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 15px;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: auto;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

p{
  font-size: 80%;
  margin-bottom: 0;
  color: rgb(83, 83, 83);
}

.result-item h3 {
  font-size: 120%;
  margin-bottom: 5px;
}

.result-authors, .result-categories {
  display: flex;
  flex-direction: row;
}

.result-categories Strong, .result-authors Strong {
  color: #4b4b4b;
  font-size: medium;
}

.author{
  color: black;
}

.author:hover{
  color: #0056ff;
  cursor: pointer;
}

.result-params {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 98%;
}

.result-img{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.result-date, .result-rating, .view-btn, .delete-btn, .edit-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.result-date{
  color: rgb(96, 180, 48);
}

.result-date p{
  margin-left: 4px;
  color: rgb(81, 153, 40);
}

.result-rating{
  color: rgb(231, 199, 57);
}

.result-rating p{
  margin-left: 4px;
  color: rgb(202, 175, 52);
}

.btns-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
}

.btns-container p{
  margin-left: 4px;
}

.propietario{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 67%;
}

.delete-btn {
  cursor: pointer;
  color: #ff0000;
}

.delete-btn p{
  color: #ff0000;
}

.delete-btn:hover {
  color: #ff5c5c;
}

.delete-btn:hover p{
  color: #ff5c5c;
}

.edit-btn {
  cursor: pointer;
  color: #20c420;
}

.edit-btn p{
  color: #20c420;
}

.edit-btn:hover {
  color: #76ce7d;
}

.edit-btn:hover p{
  color: #76ce7d;
}

.view-btn {
  cursor: pointer;
  color: #0056ff;
}

.view-btn p{
  color: #0056ff;
}

.view-btn:hover {
  color: #5c92ff;
}

.view-btn:hover p{
  color: #5c92ff;
}
