.author-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 50px;
  margin-top: 30px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid #ddd;
  color: black;
}

.author-avatar-container {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  width: 40%;
  align-items: center;
  justify-content: space-between;
  margin-left: 10%;
}

.author-avatar {
  width: 40%;
  border-radius: 50%;
}

h2 {
  font-size: 215%;
}

.info-box {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
  margin: 20px 90px;
  text-align: left;
}

.author-description {
margin: 10px;
margin-left: 20%;

}