.document-list {
    margin: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 5%;
    color: black;
  }
  
  .document-list h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .document-list ul {
    list-style: none;
    padding: 0;
  }
  
  .document-list li {
    padding: 1% 0;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  hr{
    border: 1px solid #dddddd;
  }
  .document-list strong {
    font-size: 100%;
  }
  
  .document-list p {
    font-size: 85%;
    margin: 1% 0;
    color: #555;
  }
  
  button {
    background-color: #0d47a1;
    color: white;
    border: none;
    padding: 0.6% 1.2%;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #1565c0;
  }
  
  button:active {
    background-color: #0d47a1;
  }

  .btn-ver-mas{
    background-color: #259134;
    padding: 1% 2%;
  }

  .btn-ver-mas:hover{
    background-color: #2f9e2e;
  }

  .btn-ver-mas:active{
    background-color: #259134;
  }